<div class="well col-lg-12">
  <%= form_for(Comment.new, remote: true) do |f| %>
    <div class="col-lg-8 field">
      <%= f.hidden_field :photo_id, value: @photo.id %>
      <%= f.text_field :content, placeholder: t('labels.comment'), class: "form-control" %>
    </div>
    <div class="col-lg-4 field">
      <%= f.submit t('buttons.post'), class: 'btn btn-large btn-primary' %>
    </div>
  <% end %>
</div>
