<div class="panel panel-info">
  <table class="table table-striped">
    <tbody>
      <% @photo.comments.each do |comment| %>
        <tr>
          <td><%= comment.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
